* {
	margin: 0px;
	padding: 0px;
}
body {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
img {
	display: block;
	width: 100%;
	height: auto;
}

.signup-page {
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
}
.text_sign_up {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}
.form {
  position: relative;
   z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;

}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/*a:link, a:visited  {
  text-decoration: none;
  color: white;
}*/
h1, h2, h3 {
	margin: 0;
	padding: 1em 0;
}
p {
	margin: 0;
	padding: 1em 0;
}



.message {
  font-family: "Roboto", sans-serif;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color :#4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}


.headerIndex {
	background-color:#4CAF50;
	color: white;
	height: 50px;
	text-align: left;
	line-height: 50px;
	position: fixed;
	width: 100%;
	padding-left: 10px;
	font-weight: bolder;
	font-size: 30px;
  font-family: "Roboto", sans-serif;
}
 a:link, a:visited  {
  text-decoration: none;
  color: white;
  }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #4CAF50;
   color: white;
   text-align: center;


}





.btn2 {
	display: inline-block;
	background:#4CAF50;
	text-decoration: none;
	padding: 1em 2em;
	border: 1px solid #4CAF50;
	margin: .5em 0;
	width: 70px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;

}
.btn2:hover {
	background: #eaeaea;
	color: #333;
}
/* Nav bar*/


.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 18px;
  color:#fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #fff;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;

}

.dropdown:hover .dropdown-content {
  display: block;
}

header.topbar {
  background-color: #4CAF50;
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: 0.7;
  z-index: 1;
  top: 0;
  left: 0;
}

#content {
  margin-top: 100px;
  z-index: 0;
  position: absolute;
}

.link-right-position {
  float: right;
  font-size: 17px;
}
/* main*/

.title {
  padding: 1em 2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;


	height: 50px;

	line-height: 50px;
	position: fixed;
	width: 100%;
	padding-left: 10px;
	font-weight: bolder;
	font-size: 30px;

}

.single_political {
	padding: 10px;
	border: 1px solid  #ddd;
	border-radius: 5px;
	float: left;
	width: 20%;
	margin-right: 5px;
	margin-bottom: 5px;
}
.single_political img {
	margin: 0 auto;
	width: 80%;
}


/* Modals*/
.modal-window {
	position: fixed;
	background-color: rgba(200, 200, 200, 0.75);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal-window:target {
	opacity: 1;
	pointer-events: auto;
}

.modal-window>div {
	width: 400px;
	position: relative;
	margin: 5% auto;
	padding: 1rem;
	background: #fff;
	color: #444;
	text-align: center;
}

.modal-window header {
	font-weight: bold;
}

.modal-close {
	color: #aaa;
	line-height: 50px;
	font-size: 80%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 80px;
	text-decoration: none;
}

.modal-close:hover {
	color: #000;
}

.modal-window h1 {
	font-size: 100%;
	margin: 0 0 5px;
}

.form-modal {
	width: 80%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.modaloverflow {
	text-align: center;
	overflow: scroll;
}

.modaloverflow2 {
	overflow: scroll;
}

.fp {
	font-size: 15px
}

.footer_align {
	color: gray;
	padding-left: 15px;
	cursor: pointer;
}

.footer_align a {
	color: gray;
	padding-left: 15px;
	cursor: pointer;
}

.modal {
	display: none;
	position: fixed;
	z-index: 999;
	padding-top: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left:auto;
	overflow: auto;
	background-color: rgba(200, 200, 200, 0.75);
}

/* Modal Content */

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 10px;
	border: 1px solid #fefefe;
	width: 80%;
}

/* The Close Button */

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal>div {
	width: 400px;
	height: auto;
	position: relative;
	margin: 5% auto;
	padding: 1rem;
	background: #fff;
	color: #444;
	text-align:center;
  }

  .modal h1 {
	font-size: 100%;
	margin: 0 0 10px;
  }

  #showcase {
  	min-height: 450px;
  	color: #fff;
  	text-align: center;
  }

  .white {
  	color: black;
  }

  #showcase {
  	background-color: #fff;
  	background-image: url("../images/vote1.gif");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	width: 100%;
  	height: auto;
  	z-index: -1;
  	color: black;
  }
  #showcase .background-image {
  opacity: 0.2;
}
  #showcase.grid {
  	color: black;
  }
  #showcase.grid {
  	color: black;
  	height: 510px;
  }
  #showcase h1 {
	padding-top: 100px;
	padding-bottom: 0;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
